<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/css/bootstrap.min.css">
  <link rel="stylesheet" href="./public/css/main.css">
</head>
</head>
<body>

<div class="container">
  <h1><%= title %></h1>
  <form action="/update" method="post">

    <input type="hidden" value="<%= row.id_Auteur %>" name="id">
    <div class="form-group">
      <label for="name">Nom:</label>
      <input type="text" class="form-control"  placeholder="Modifier Nom" value="<%= row.Nom %>" name="nom" required>
    </div>
    <div class="form-group">
      <label for="name">Age:</label>
      <input type="text" class="form-control"  placeholder="Modifier l'age" value="<%= row.Age %>" name="age" required>
    </div>
    <div class="form-group">
      <label for="description">Nationalité:</label>
      <input type="text" class="form-control"  placeholder="Modifier Nationalité" value="<%= row.Nationalite %>" name="natio" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>
